@import "../../../mixin";


.container{
    .addNewFormContainer{
        .formContainer{
            display:flex;
            margin-top:3rem;
            gap:4rem;
            
            .left{
                flex:1;
                .formGroup{
                    display:flex;
                    flex-direction: column;
                    &:not(:last-child){
                        margin-bottom:2.5rem;
                    }
            
                    label{
                        font-size:1.2rem;
                        font-weight: 600;
                        margin-bottom:1rem;
                        color:var(--defined-text-color);
                        display:flex;
                        align-items: center;
                        gap:.9rem;

                        span{
                            display:flex;
                            align-items: flex-end;
                            justify-content: center;
                            font-size:1.2rem;
                            color:var(--dark-grey);
                        }
                    }
                    input{
                        padding:1.1rem 1rem;
                        border-radius:.5rem;
                        background-color:var(--box-background-color);
                        border:.3px solid transparent;
                        border:.3px solid var(--shadow-color);
                        // font-family: inherit;
                      color:var(--dark-grey);

                        &:focus{
                            outline:none;
                            border:.3px solid rgba(100, 152, 255, 0.808);
                        }
                        &::placeholder{
                            color: var(--dark-grey);
                        }
                    }
                    textarea{
                        padding:1.1rem 1rem;
                        border-radius:.5rem;
                        background-color:var(--box-background-color);
                        border:.3px solid transparent;
                        border:.3px solid var(--shadow-color);
                        font-family: inherit;
                        height:27rem;
                        &:focus{
                            outline:none;
                            border:.3px solid rgba(100, 152, 255, 0.808);
                        }
                    }
                    .productName{

                    }
                }

                .categoryGroups{
                    display:flex;
                    gap:1.2rem;
                    margin-bottom:2.5rem;

                    .formGroup{
                        
                        
                    }
                    .category{
                        position:relative;
                        flex:3;
                        

                        input{
                            width:100%;
                        }
                    }
                    .gender{
                        flex:1;
                    }
                    .subCategory{
                        flex:1;
                    }
                }
            }
            .right{


                flex:1;
                overflow:hidden;
                display:flex;
                flex-direction: column;
                justify-content: space-between;

                .top{
                    .imagesContainer{
                        .description{
                            font-size:1.3rem;
    
                        }
                    }
                    .fashionProps{
                        display: flex;
                        margin-top: 2.5rem;
                        width:100%;
                        gap:1rem;
                        .sizeContainer{
                            flex:3;
                        }
                        .colorProps{
                            
                            flex:1;
                        }
                    }
                    .productDate{
                        width:100%;
                        .formGroup{
                            width:100%;
                            margin-top:2.5rem;
                            label{
                                font-size:1.2rem;
                                font-weight: 600;
                                margin-bottom:1rem;
                                color:var(--defined-text-color);
                                display:flex;
                                align-items: center;
                                gap:.9rem;
        
                                span{
                                    display:flex;
                                    align-items: flex-end;
                                    justify-content: center;
                                    font-size:1.2rem;
                                    color:var(--dark-grey);
                                }
                            }
                            input{
                                width:100%;
                                padding:1.1rem 1rem;
                                border-radius:.5rem;
                                background-color:var(--box-background-color);
                                border:.3px solid transparent;
                                border:.3px solid var(--shadow-color);
                                // font-family: inherit;
                              color:var(--dark-grey);
        
                                &:focus{
                                    outline:none;
                                    border:.3px solid rgba(100, 152, 255, 0.808);
                                }
                                &::placeholder{
                                    color: var(--dark-grey);
                                }
                            }
                        }
                    }
                }
                .bottom{
.save{
    display:flex;
    justify-content: flex-end;
}
                }
              
            }
        }
    }
}